# {{ template_destpath }}
# {{ ansible_managed }}

datacenter = "{{ consul_datacenter }}"

server = {{ consul_server | lower }}
bootstrap_expect = {{ consul_bootstrap_expect | int }}
log_level = "{{ consul_log_level | upper }}"
data_dir = "{{ consul_data_dir }}"

advertise_addr = "{{ consul_advertise_addr }}"
bind_addr = "{{ consul_bind_addr }}"
client_addr = "{{ consul_client_addr }}"

connect {
  enabled = {{ consul_connect_enabled | lower }}
}

ui_config {
  enabled = {{ consul_ui_config_enabled | lower }}
}
