# SPDX-License-Identifier: ISC

# Ignore everything
*

# Include specific files
!.ansible-lint
!.editorconfig
!.gitignore
!.prettierrc.yml
!.ymllint
!ansible.cfg
!galaxy.yml
!LICENSE.md
!README.md
!requirements.txt
!requirements.yml
!site.yml
!tox.ini
!Vagrantfile

# Include specific files from subdirectories
!.github/
!.github/workflows/
!.github/workflows/*.yml

!.vscode/
!.vscode/extensions.json
!.vscode/settings.json

!inventory/
!inventory/**/
!inventory/**/*.md
!inventory/**/*.yml

!molecule/
!molecule/**/
!molecule/**/*.j2
!molecule/**/*.md
!molecule/**/*.yml

!requirements/
!requirements/**/
!requirements/*.txt

!roles/
!roles/**/
!roles/**/*.j2
!roles/**/*.md
!roles/**/*.yml

!tools/
!tools/**/
!tools/**/*.md
!tools/**/*.yml
