# SPDX-License-Identifier: ISC

# Ignore everything
*

# Include specific files
!.ansible-lint
!.editorconfig
!.gitignore
!.yamllint
!ansible.cfg
!LICENSE.md
!README.md
!site.yml
!tox.ini
!Vagrantfile

# Include specific files from subdirectories
!.github/
!.github/workflows/
!.github/workflows/*.yml

!.vscode/
!.vscode/extensions.json
!.vscode/settings.json

!requirements/
!requirements/**/
!requirements/*.txt

!roles/
!roles/**/
!roles/**/*.j2
!roles/**/*.md
!roles/**/*.yml

!tools/
!tools/**/
!tools/**/*.cfg
!tools/**/*.hcl
!tools/**/*.json
!tools/**/*.sh
!tools/**/*.yml
