# SPDX-License-Identifier: ISC

# Ignore everything
*

# Include specific files
!.ansible-lint
!.editorconfig
!.gitignore
!.prettierrc.yaml
!.yamllint
!ansible.cfg
!galaxy.yaml
!LICENSE.md
!README.md
!requirements.txt
!requirements.yaml
!site.yaml
!tox.ini
!Vagrantfile

# Include specific files from subdirectories
!.github/
!.github/workflows/
!.github/workflows/*.yaml

!.vscode/
!.vscode/extensions.json
!.vscode/settings.json

!inventory/
!inventory/**/
!inventory/**/*.md
!inventory/**/*.yaml

!requirements/
!requirements/**/
!requirements/*.txt

!roles/
!roles/**/
!roles/**/*.j2
!roles/**/*.md
!roles/**/*.yaml

!tools/
!tools/**/
!tools/**/*.md
!tools/**/*.yaml
