# {{ template_destpath }}
# {{ ansible_managed }}

api_addr = "{{ vault_api_addr }}"
cluster_addr = "{{ vault_cluster_address }}"
log_level = "{{ vault_log_level }}"
ui = {{ vault_ui|lower}}

cache {
  use_auto_auth_token = false
}

listener "tcp" {
  address = "{{ vault_listener_address }}"
{% if vault_listener_tls_cert_file and vault_listener_tls_key_file %}
  tls_cert_file = "{{ vault_listener_tls_cert_file }}"
  tls_key_file = "{{ vault_listener_tls_key_file }}"
  tls_min_version = "{{ vault_listener_tls_min_version }}"
{% else %}
  tls_disable = 1
{% endif -%}
}

storage "consul" {
  address = "{{ vault_storage_address }}"
  path = "{{ vault_storage_path }}"
}

{% if vault_telemetry_statsite_address %}
telemetry {
  statsite_address = "{{ vault_telemetry_statsite_address }}"
  disable_hostname = {{ vault_telemetry_disable_hostname|lower }}
}
{% endif -%}

vault {
  address = "{{ vault_vault_client_address }}"
{% if vault_vault_client_cert and vault_vault_client_key %}
  client_cert = "{{ vault_vault_client_cert }}"
  client_key = "{{ vault_vault_client_key }}"
{% endif -%}
}
