# {{ template_destpath }}
# {{ ansible_managed }}

[Unit]
Description=Vault
Documentation=https://www.vaultproject.io/docs/
Requires=network-online.target
After=network-online.target
ConditionFileNotEmpty=/etc/vault/vault.hcl

[Service]
User=vault
Group=vault

ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/local/bin/vault agent -config=/etc/vault -data-dir=/var/lib/vault -plugin-dir=/opt/vault
KillMode=process
KillSignal=SIGINT
LimitNOFILE=65536
LimitNPROC=infinity
OOMScoreAdjust=-1000
Restart=on-failure
RestartSec=2
TasksMax=infinity

[Install]
WantedBy=multi-user.target
