# {{ template_destpath }}
# {{ ansible_managed }}

bind_addr = "0.0.0.0"
data_dir = "/opt/nomad/data"
plugin_dir = "/opt/nomad/plugins"

server {
    enabled = true
    bootstrap_expect = 1
}

client {
    enabled = true
    servers = ["127.0.0.1:4646"]
}

plugin "nomad-driver-podman" {
    config {
        volumes {
            enabled      = true
            selinuxlabel = "z"
        }
    }
}
